__pycache__/
3C-models/

.env
*.png
*.json
!gsheet-logging-882a049ab3f9.json
yolo8n.t
ext_bbox.txt
P31-(1) BALLAST WATER TREATMENT SYSTEM.pdf
*.txt
!requirements.txt
!system_prompt.txt
test.py

Dockerfile
docker-compose.yml

venv/
env/